- provide(:title, t('.title'))


.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "list", text: t(controller_name + "." + action_name + '.title')

          -#
          
            = link_to xls_download_factories_path, :class => "button button-royal pull-right button-small mr-1" do
              下载表格模板
            

            
            %button.button.button-caution.button-small.pull-right.mr-1{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
              上传表格
          

          -#
            = link_to "/#{controller_name}/new", :class => "button  button-small pull-right button-primary mr-1" do
              = fa_icon "plus", text: Setting.systems.btn_new, right: false 
          %button.button.button-primary.button-small.pull-right.mr-1{"data-target" => "#newModal", "data-toggle" => "modal", :type => "button"}
            = fa_icon "plus", text: Setting.systems.btn_new, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable"}
                %thead
                  %tr
                    %th{:scope => "col"} #
                  
                  
                    %th{:scope => "col"}
                      = Setting.companies.label
                    %th{:scope => "col"}
                      = Setting.factories.name
                    %th{:scope => "col"}
                      = Setting.factories.parent
                    %th{:scope => "col"}
                      = Setting.factories.children
                    %th{:scope => "col"}
                      账号
                    %th{:scope => "col"}
                      设置
                %tbody
                  - @factories.each_with_index do |factory, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                    
                      %td
                        = factory.company.nil? ? '' : factory.company.name
                      %td
                        = factory.name
                      %td
                        = factory.parent ? factory.parent.name : ''
                      %td
                        - factory.children.each do |fct|
                          = fct.name
                      %td
                        = factory.users.first.phone
                      %td
                        .container-fluid
                          .row.justify-content-center
                            = link_to "编辑", edit_factory_path(factory), :class => "button button-highlight button-small mr-1" 
                            = link_to "删除",  factory, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 
      = render "layouts/bootstrap/card"



#newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body
        = render 'form'

