.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @workorder_ctg, :url => "/factories/#{idencode(@factory.id)}/workorder_ctgs/#{@workorder_ctg.id ? idencode(@workorder_ctg.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @workorder_ctg.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@workorder_ctg.errors.count, "错误")}:"
            %ul
              - @workorder_ctg.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = Setting.workorder_ctgs.label
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.workorder_ctgs.name, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_field :name, :class => "form-control" , :required => true
                      
                    
          
          
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', workorder_ctgs_path, :class => "button button-small  button-caution"
