.card.border-0.rounded-0
  .card-body.p-0
    %ul#sidebar-lists.list-group.list-group-flush
      .accordion#accordionExample
        .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
          工单管理
        .card-body.py-0.pl-2.pr-0
          = link_to factories_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/orders$/ =~ request.path).nil? ? '' : 'text-primary'} " do
            = fa_icon "calendar", text: Setting.factories.label, class: "ml-4 mr-2"  
          = link_to deploys_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/orders$/ =~ request.path).nil? ? '' : 'text-primary'} " do
            = fa_icon "calendar", text: Setting.deploys.label, class: "ml-4 mr-2"  
