.card.border-0.rounded-0
  .card-body.p-0
    %ul#sidebar-lists.list-group.list-group-flush
        
      -#
        = link_to mtlfct_statistic_day_pdt_rpts_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
          多厂单指标
      .accordion#accordionExample
      - current_user.factories.each_with_index do |fct, index|
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "heading#{index}", :'data-toggle' => "collapse", :'data-target' => "#collapse#{index}", :'aria-expanded' => "true", :'aria-controls' => "collapse#{index}"}
            = fct.name
          .collapse{:id => "collapse#{index}", :'aria-labelledby' => "heading#{index}", :"data-parent" => "#accordionExample", :class => index == 0 ? 'show' : ''}
            .card-body.py-0.pl-2.pr-0.border.border-danger
              - if current_user.has_role?(Setting.roles.day_pdt) || current_user.has_role?(Setting.roles.super_admin)
                = link_to factory_day_pdts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "codepen", text: "日运营数据填报"
              - if current_user.has_role?(Setting.roles.mth_pdt_rpt) || current_user.has_role?(Setting.roles.super_admin)
                = link_to factory_mth_pdt_rpts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "codepen", text: "月报表填报"
                
              - if current_user.has_role?(Setting.roles.day_pdt_verify) || current_user.has_role?(Setting.roles.super_admin)
                = link_to verify_index_factory_day_pdts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "object-group", text: "日运营数据审核"
              - if current_user.has_role?(Setting.roles.mth_pdt_rpt_verify) || current_user.has_role?(Setting.roles.super_admin)
                = link_to verify_index_factory_mth_pdt_rpts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "object-group", text: "月报表审核"
              - if current_user.has_role?(Setting.roles.day_pdt_rpt) || current_user.has_role?(Setting.roles.super_admin)
                = link_to factory_day_pdt_rpts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "diamond", text: "日报表"
              - if current_user.has_role?(Setting.roles.mth_pdt_rpt_index) || current_user.has_role?(Setting.roles.super_admin)
                = link_to mth_report_finish_index_factory_mth_pdt_rpts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                  = fa_icon "diamond", text: "月报表"
              - if current_user.has_role?(Setting.roles.grp_emp_inf) || current_user.has_role?(Setting.roles.fct_emp_inf) || current_user.has_role?(Setting.roles.super_admin)
                = link_to factory_emp_infs_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                  = fa_icon "sign-in", text: "环境监测进水口"
              - if current_user.has_role?(Setting.roles.grp_emp_inf) || current_user.has_role?(Setting.roles.fct_emp_inf) || current_user.has_role?(Setting.roles.super_admin)
                = link_to factory_emp_effs_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                  = fa_icon "sign-out", text: "环境监测出水口"
               
      .card.border-0.rounded-0
        .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingAnalyse", :'data-toggle' => "collapse", :'data-target' => "#collapseAnalyse", :'aria-expanded' => "true", :'aria-controls' => "collapseAnalyse"}
          综合分析
        .collapse{:id => "collapseAnalyse", :'aria-labelledby' => "headingAnalyse", :"data-parent" => "#accordionExample"}
          .card-body.py-0
            - if current_user.has_role?(Setting.roles.data_cube) || current_user.has_role?(Setting.roles.super_admin)
              = link_to sglfct_statistic_day_pdt_rpts_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "cubes", text: "数据立方"
            - if current_user.has_role?(Setting.roles.data_compare) || current_user.has_role?(Setting.roles.super_admin)
              = link_to compare_analyses_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "object-ungroup", text: "指标对比"
            = link_to area_time_analyses_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
              = fa_icon "object-ungroup", text: "厂间分析"
      - if current_user.has_role?(Setting.roles.report) || current_user.has_role?(Setting.roles.super_admin)
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingReport", :'data-toggle' => "collapse", :'data-target' => "#collapseReport", :'aria-expanded' => "true", :'aria-controls' => "collapseReport"}
            报表管理
          .collapse{:id => "collapseReport", :'aria-labelledby' => "headingReport", :"data-parent" => "#accordionExample"}
            .card-body.py-0
              = link_to day_report_reports_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "cubes", text: "日报表"
              = link_to mth_report_reports_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "object-ungroup", text: "月报表"
      -#
        = link_to ocrs_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
          = fa_icon "diamond", text: "AI工具箱"
        = link_to statistics_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/statistic/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
          = fa_icon "bar-chart", text: "数据图表"
-#
  .card.border-0.rounded-0
    #headingThree.card-header.p-0.bg-transparent
      = link_to nil,  {:class => "d-flex p-3 text-decoration-none bg-19212E text-white", :"aria-controls" => "collapseThree", :"aria-expanded" => "true", :"data-target" => "#collapseThree", :"data-toggle" => "collapse"} do
        = fa_icon "area-chart", text: "管理面板", class: "mx-3"
        
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExam
      .card-body.p-0
        %ul.list-group.list-group-flush.sidebar-lists
          = link_to agendas_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "日程管理", class: " ml-4 mr-1"
          = link_to archives_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "党建档案库", class: " ml-4 mr-1"
          = link_to examines_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "考核资料自选库", class: " ml-4 mr-1"
          = link_to ocrs_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "AI工具箱", class: "ml-4 mr-1"
  
            -#
              %span.badge.badge-primary.badge-pill.pull-right
                14
          = link_to templates_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "模板管理", class: "ml-4 mr-1"
          = link_to articles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "文章管理", class: " ml-4 mr-1"
          = link_to roles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "角色管理", class: "ml-4 mr-1"
          = link_to notices_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "通知公告", class: "ml-4 mr-1"
          = link_to statistics_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "数据统计", class: "ml-4 mr-1"
          = link_to spiders_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
            = fa_icon "circle-o", text: "爬虫", class: "ml-4 mr-1"
