.card.border-0.rounded-0
  .card-body.p-0
    %ul#sidebar-lists.list-group.list-group-flush
      .accordion#accordionExample
      - current_user.factories.each_with_index do |fct, index|
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
            工单管理
          .card-body.py-0.pl-2.pr-0
            = link_to factory_work_orders_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/orders$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar", text: '处理中', class: "ml-4 mr-2"  
            -#
              = link_to process_factory_work_orders_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/orders$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar-check-o", text: '处理中', class: "ml-4 mr-2"  
            = link_to complete_factory_work_orders_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/complete$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar-check-o", text: '已办结', class: "ml-4 mr-2"  
            = link_to factory_sign_logs_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/sign_log/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "tasks", text: '部门工单', class: "ml-4 mr-2"  
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
            系统管理
          .card-body.py-0.pl-2.pr-0
            -#
              = link_to factory_fct_statics_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/fct_static/ =~ request.path).nil? ? '' : 'text-primary'}   " do
              = fa_icon "diamond", text: '数据总览', class: "ml-4 mr-2"  
            = link_to factory_inspectors_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/inspect/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "edit", text: Setting.patrolers.label, class: "ml-4 mr-2"  
            = link_to factory_workorder_ctgs_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/workorder_ctg$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "sitemap", text: '工单分类', class: "ml-4 mr-2"  
            = link_to factories_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/workorder_ctg$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "sitemap", text: '部门管理', class: "ml-4 mr-2"  
            -#
              = link_to controls_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/control/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "map-marker", text: '实时定位', class: "ml-4 mr-2"  
        -#
          - if current_user.has_role?(Setting.roles.role_warehouse)
          .card.border-0.rounded-0
            -#
              .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "heading#{index}", :'data-toggle' => "collapse", :'data-target' => "#collapse#{index}", :'aria-expanded' => "true", :'aria-controls' => "collapse#{index}"}
                仓储管理
              .collapse{:id => "collapse#{index}", :'aria-labelledby' => "heading#{index}", :"data-parent" => "#accordionExample", :class => index == 0 ? 'show' : ''}
            .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingware"}
              巡检人员管理
            .card-body.py-0.pl-2.pr-0
              -#
                = link_to factory_projects_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2  #{(/project/ =~ request.path).nil? ? '' : 'sidebar-text-active2' }" do
                = fa_icon "diamond", text: "工程用料", class: "ml-4 mr-2"
          -#
            .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingware"}
              库存管理
            .card-body.py-0.pl-2.pr-0
              = link_to factory_water_items_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "codepen", text: Setting.water_items.label 
              = link_to factory_sewage_items_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "object-group", text: Setting.sewage_items.label 
              = link_to factory_project_items_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "cubes", text: Setting.project_items.label 
              = link_to factory_repair_parts_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "cogs", text: Setting.repair_parts.label 
              = link_to factory_emergencies_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "stack-overflow", text: Setting.emergencies.label 
              = link_to factory_stuffs_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
                = fa_icon "envira", text: Setting.stuffs.label 
              -#
                = link_to bigscreen_factory_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                  = fa_icon "sign-out", text: "大屏看板"
                - if current_user.has_role?(Setting.roles.fct_setting)
                = link_to edit_factory_path(idencode(fct.id)), :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                  = fa_icon "cog", text: "基本信息"
               
    -#
      .card.border-0.rounded-0
        .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingAnalyse", :'data-toggle' => "collapse", :'data-target' => "#collapseAnalyse", :'aria-expanded' => "true", :'aria-controls' => "collapseAnalyse"}
          综合分析
        .collapse{:id => "collapseAnalyse", :'aria-labelledby' => "headingAnalyse", :"data-parent" => "#accordionExample"}
          .card-body.py-0
            - if current_user.has_role?(Setting.roles.data_cube)
              = link_to sglfct_statistic_day_pdt_rpts_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "cubes", text: "数据立方"
            - if current_user.has_role?(Setting.roles.data_compare)
              = link_to compare_analyses_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "object-ungroup", text: "指标对比"
            - if current_user.has_role?(Setting.roles.area_time)
              = link_to area_time_analyses_path, :class => "list-group-item list-group-item-action border-0 sidebar-text-font px-0 #{(/ocr/ =~ request.path).nil? ? '' : 'sidebar-text-active' }" do
                = fa_icon "clone", text: "厂间分析"
