.card.border-0.rounded-0
  .card-body.p-0
    %ul#sidebar-lists.list-group.list-group-flush
      .accordion#accordionExample
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
            签到管理
          .card-body.py-0.pl-2.pr-0
            = link_to grp_statics_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_static/ =~ request.path).nil? ? '' : 'text-primary'}  " do
              = fa_icon "diamond", text: '数据总览', class: "ml-4 mr-2"  
            = link_to grp_sign_logs_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_sign_log/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "tasks", text: Setting.sign_logs.label, class: "ml-4 mr-2"  
            = link_to grp_workers_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_workers$/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar", text: '工人管理', class: "ml-4 mr-2"  
            = link_to supervisor_grp_workers_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_workers\/supervisor/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "wpforms", text: '监理/总包', class: "ml-4 mr-2"  
            = link_to grp_inspectors_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_inspect/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "edit", text: Setting.patrolers.label, class: "ml-4 mr-2"  
            = link_to grp_devices_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/grp_device/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "sitemap", text: Setting.devices.label, class: "ml-4 mr-2"  
