- provide(:title, t('.title'))


.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "list", text: t(controller_name + "." + action_name + '.title')
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              = hidden_field_tag "fct", idencode(@factory.id), :class => "fct-val"
            .col-md-12
              %table#item-table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-pagination"=>"true", :'data-page-size' => "25", :"data-search" => "true", :'data-advanced-search'=>"true", :'data-virtual-scroll' => false }
                %thead
                  %tr
                    %th{:scope => "col", :'data-field' => "id"} #
                  
                    %th{:scope => "col", :'data-field' => "number"}
                      = Setting.work_orders.number

                    %th{:scope => "col", :'data-field' => "ctg"}
                      = Setting.workorder_ctgs.label
                  
                    %th{:scope => "col", :'data-field' => "person"}
                      = Setting.work_orders.person
                  
                    %th{:scope => "col", :'data-field' => "phone"}
                      = Setting.work_orders.phone
                  
                    %th{:scope => "col", :'data-field' => "address"}
                      = Setting.work_orders.address
                  
                    %th{:scope => "col", :'data-field' => "content"}
                      = Setting.work_orders.content
                  
                    %th{:scope => "col", :'data-field' => "pdt_time"}
                      = Setting.work_orders.pdt_time

                    %th{:scope => "col", :'data-field' => "limit_time"}
                      = Setting.work_orders.limit_time
                  
                    %th{:scope => "col", :'data-field' => "reminder"}
                      = Setting.work_orders.reminder
                  
                %tbody
                  - @work_orders.each_with_index do |work_order, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                    
                      %td
                        %button{:class => 'btn btn-link log-show-btn', :type => 'button', :"data-rpt" => idencode(work_order.id)}
                          = work_order.number
                      %td
                        = work_order.workorder_ctg.name
                      %td
                        = work_order.person
                      %td
                        = work_order.phone
                      %td
                        = work_order.address
                      %td
                        = truncate(work_order.content, :length => 30)
                      %td
                        = work_order.created_at.strftime('%Y-%m-%d %H:%M')
                      %td
                        = work_order.limit_time.strftime('%Y-%m-%d %H:%M')
                      %td
                        = work_order.reminder ? '是' : '否'

              .col-md-12.site-theme-paginate-wrapper.d-flex.justify-content-center.mt-3
                = paginate @work_orders, window: 2, left: 1, right: 1 
      = render "layouts/bootstrap/card"

#logModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h3#log-day-pdt-rpt-header.modal-title.text-center
      .modal-body
        .row
          .col-12.mb-3
            .card
              .card-header.bg-primary.text-white
                工单信息
              .card-body
                #log-day-emq-ctn.text-left
          .col-12.mb-3
            .card
              .card-header.bg-success.text-white
                工单处理进度
              .card-body
                %ul#task-rate.timeline
          .col-12.mb-3
            .card
              .card-header.bg-info.text-white
                工单处理记录
              .card-body
                %ul#task-record.list-unstyled


